llm/chess/improved-chess-llm-v6/
llm/chess/improved-chess-llm/
llm/chess/improved-chess-llm-v4/
llm/chess/improved-chess-llm-v5/
llm/chess/training_data/
llm/chess/improved-chess-llm-stage2/
llm/chess/chess-tiny-llama/
llm/chess/improved-chess-llm-v3/
llm/chess/wandb/
/llm/Archive.zip
/llm/chess_games_10k.pgn
/.env
/cnn/chess/wandb/
/.idea/
**/*.pkl
**/*.pth
**/*.pgn
**/*.pyc
cnn/chess/data/