/improved-chess-llm-v6/
/improved-chess-llm/
/improved-chess-llm-v4/
/improved-chess-llm-v5/
/training_data/
/improved-chess-llm-stage2/
/chess-tiny-llama/
/improved-chess-llm-v3/
/wandb/
/Archive.zip
/chess_games_10k.pgn
/.env
/cnn/chess_v3/wandb/
/.idea/
**/*.pkl
**/*.pgn
**/*.pyc